:root {
    --primary: #232b38;
    --secondary: #FAF3EB;
    --light: #FFFFFF;
    --dark: #232b38;
}
html {
    font-family: Georgia !important;
}
.fo-geo {
    font-family: Georgia;
}

/* navbar and header */

.text-green {
    color: #6dab3c !important;
}
.text-gray {
    color:#666666;
}
.hover-green:hover {
    color: #6dab3c !important;
}
.hover-white:hover {
    color: #232b38 !important;
    background: #f4f5f6 !important;
    border-color: #f4f5f6 !important;
}
.text-yellow {
    color: #F8E367 !important;
}
.topper {
    height: fit-content !important;
    font-size: 80% !important;
    z-index: 100;
}
.bg-semi-white {
    position: sticky;
    background: #f4f5f6;
    top: 45px;
    z-index: 10;
}
.lister li {
    width: 100%;
    list-style: none;
    margin-right: 10px;
    color: #f4f5f6;
    display: inline !important;
}
.badge-sm {
    position: relative;
    top: -10px;
}
a {
    cursor: pointer;
}
a:hover {
    color: #6dab3c;
}
a.text-wrap {
    width: 420px;
    text-align: center;
    white-space: wrap;
    font-size: 24px;
}
.sidebar {
    background: rgba(13, 29, 49, 0.95) !important;
    position: absolute;
    width: 300px;
    height: 100vh;
    top: 0;
    padding: 10px;
    right: 0;
    z-index: 999;
    margin-top: 60px;
}
.sidebar .sidebar-nav li {
    display: block;
    font-size: 90%;
    margin-bottom: 20px;
}
.sidebar .sidebar-nav li a {
    color: #fff;
}
.sidebar .sidebar-nav li a:hover {
    color: #6dab3c;
}
.bg-linear-blue {
    background: linear-gradient(80deg, #a0c9f3, #3399ff) !important;
}
@media screen and (max-width: 736px) {
    .bg-semi-white {
        height: fit-content;
    }
    a.text-wrap {
        font-size: 16px;
    }
    .bg-semi-white .more {
        display: none !important;
        font-size: 70%;
    }
    .lister li {
        display: block !important;
    }
    .bg-linear-blue .brochurette {
        flex-direction: column;
        gap: 30px !important;
    }
}
.text-small {
    font-size: 98% !important;
}
.text-smaller {
    font-size: 85% !important;
}
.img-brochure {
    width: 250px;
}
.views .row {
    padding: 0px 120px;
}
.img-hover {
    transition: ease-in-out 0.4s;
    height: 320px;
    position: relative;
    background-size: cover !important;
    display: flex;
    /* justify-content: start; */
    padding: 5px;
    align-items: self-end;
}
.img-hover h2 {
    align-self: end;
    font-family: arial;
    font-size: 42px;
    font-weight: 900 !important;
}
.img-hover:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.img-hover .learn-more {
    opacity: 0;
    transition: ease-in-out 0.6s;
}
.img-hover:hover .learn-more {
    opacity: 1;
}
@media screen and (max-width: 736px) {
    .views .row {
        padding: 0px;
    }
    .img-hover {
        width: 100%;
    }
}

/* footer */
.footer {
    background: #f5f5f5;
}
.footer .outer-footer {
    background: #eff1f0;
    font-family: Calibri;
    color: #666666;
}
.footer .outer-footer .links li {
    list-style: none;
    font-size: 90%;
    display: inline;
    margin-right: 20px;
}
.footer .btn-outline-signup {
    background: transparent;
    border: solid 4px #4f7f38 !important; 
    padding: 5px 35px;
    font-size: 14px;
    color: #6dab3c !important;
}
.footer .btn-outline-signup:hover {
    background-color: #4f7f38;
    color: #fff !important;
}
.footer .contacts {
    position: absolute;
    color: #666666 !important;
    transform: translateX(500px);
    font-size: 90%;
}
@media screen and (max-width: 736px) {
    .footer {
        height: fit-content;
    }
    .footer .outer-footer .links li {
        display: block;
        text-align: center;
    }
    .footer .connect {
        flex-direction: column;
    }
    .footer .contacts {
        position: relative;
        transform: translate(120px, 20px);
    }
}